<div class="card mb-4">
  <!--src="http://placehold.it/750x300"  -->
  <!-- src ="https://d2d0b2rxqzh1q5.cloudfront.net/sv/2.183/dir/49e/image/49ebc3d998b49530536d4e9ee9b18a9d.jpg" -->
  <!-- src="./public/images/<%= articles[i].author %><%= articles[i].title%>.jpg" -->
  <% if(articles[i].img){ %>
    <img class="card-img-top" src="../images/<%= articles[i].author %><%= articles[i].title%>.jpg" alt="Img">
  <%} %>


  <div class="card-body">
    <h2 class="card-title d-flex justify-content-center"><%= articles[i].title %></h2>
    <p class="card-text"><%= articles[i].shorten %></p>
    <a href="/articles/<%= articles[i].id %>" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    Posted on <%= articles[i].date %> by
    <a href="#"><%= articles[i].usr %></a>
    <div>
      <% if(typeof articles[i].category === 'string'){ %>
        <a href="/?category=<%= articles[i].category %>">#<%= articles[i].category %></a>
      <% }else { %>
        <% articles[i].category.forEach((cat)=>{ %>
          <a href="/?category=<%= cat %>">#<%= cat %></a>
      <% })}; %>
      <% if(articles[i].comment) {%>
        <p>Comments (<%= articles[i].comment.length %>)</p>
      <% } %>
    </div>
  </div>
</div>
