<div class="card mb-4">
  <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-center"><%= articles[i].title %></h2>
    <p class="card-text"><%= articles[i].shorten %></p>
    <a href="/articles/<%= articles[i].id %>" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    Posted on <%= articles[i].date %> by
    <a href="#"><%= articles[i].usr %></a>
    <div>
      <% if(typeof articles[i].category === 'string'){ %>
        <a href="/?category=<%= articles[i].category %>">#<%= articles[i].category %></a>
      <% }else { %>
        <% articles[i].category.forEach((cat)=>{ %>
          <a href="/?category=<%= cat %>">#<%= cat %></a>
      <% })}; %>
      <% if(articles[i].comment) {%>
        <p>Comments (<%= articles[i].comment.length %>)</p>
      <% } %>
    </div>
  </div>
</div>
