<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <div class="well well-lg center">
      <h2><%= article.title %></h2>
      <h4>Author: <%= author %></h4>
      <p><%= article.body %></p>
      <% if(user) {%>
        <% if(user.id == article.author) {%>
          <a href="/articles/edit/<%= article.id %>"><button class="btn btn-info" >edit</button></a>
          <a href="#" ><button data-id="<%= article.id %>" class="btn btn-danger delete-article" >delete</button></a>
      <% }} %>
    </div>
    <h4>Comments</h4>
    <form id="add-comment" method="POST" action='/articles/add-comment/<%= article._id%>'>
      <textarea placeholder="Write your comment here!" type="text" name="comment" class="pb-cmnt-textarea"></textarea>
      <input type="text" name="name" id="comment">
      <button type="submit" value="Submit" class="btn btn-secondary">Submit</button>
    </form>
    <% if(article.comment){ %>
      <% article.comment.reverse().forEach((com)=>{ %>
        <p><%= com.name %>: <%= com.comment %>, <%= com.created %></p>
      <% if(user) {%>
        <% if(user.id==article.author) {%>
          <a href="/?id=<%= article.id %>&cid=<%= com.id %>" ><button data-id="<%= article.id %>" data-cid="<%= com.id %>" class="btn btn-danger delete-comment" >delete</button></a>
        <% }%>
      <% } %>
    <% })}; %>

    <script src="/js/main.js" charset="utf-8"></script>
  </body>
</html>
